nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    font-size: 1.2em;
}

nav a:hover {
    color: #ddd;
}
