<!-- header.html -->
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/components/header/header.css">
</head>
<nav>
    <a href="/frontend/pages/home/home.html">Início</a>
    <a href="/frontend/pages/impressaoPronta/impressaoPronta.html">Impressões Prontas</a>
    <a href="/frontend/pages/impressao/impressao.html">Impressao</a>
    <a href="/frontend/pages/livro/livro.html">Livros</a>
</nav>

</html>
